
body {
	font-size: 1.5rem;
}

#content {
	width: 1000px;
	margin: auto;
}

.form {

	&.center-form {
		text-align: center;
	}

	.input {
		font-size: 2rem;

		&.input-monospaced {
			font-family: monospace;
		}

		&.input-center {
			text-align: center;
		}

		&.input-factor {
			width: 5rem;
		}
	}
}

.task-list {

	li {
		margin-bottom: 2rem;
	}

	.task-title {
		font-weight: bold;
	}

	.task-description {
		display: block;
	}
}

.result,
.validation-message {
	width: 50%;
	margin: 5rem auto;
	padding: 2rem;
	text-align: center;
	border: 5px double;
}

.volleyball-training {
	max-width: 100%;
}

