body {
  font-size: 1.5rem; }

#content {
  width: 1000px;
  margin: auto; }

.form.center-form {
  text-align: center; }
.form .input {
  font-size: 2rem; }
  .form .input.input-monospaced {
    font-family: monospace; }
  .form .input.input-center {
    text-align: center; }
  .form .input.input-factor {
    width: 5rem; }

.task-list li {
  margin-bottom: 2rem; }
.task-list .task-title {
  font-weight: bold; }
.task-list .task-description {
  display: block; }

.result,
.validation-message {
  width: 50%;
  margin: 5rem auto;
  padding: 2rem;
  text-align: center;
  border: 5px double; }

.volleyball-training {
  max-width: 100%; }

/*# sourceMappingURL=style.css.map */
